In [1]:
for i in range(1,10):
    if i > 6:
        print(i)
    else:
        print(i**2)

1
4
9
16
25
36
7
8
9

In [5]:
a = [1,1,2,3,5,8,13,21,34,55,89]

In [6]:
len(a)

11

In [4]:
a[0]

1

In [ ]:
b = [5,"lala", 6.3]

In [7]:
lst = [1,2,3,4,5]
lst.append("string")
print(lst)

[1, 2, 3, 4, 5, 'string']

In [2]:
import pandas as pd

In [42]:
df = pd.read_csv('/Users/dus/Desktop/python_seminar.csv')

In [33]:
type(df)

pandas.core.frame.DataFrame

In [34]:
df.head(36)

    user_id     drama     comed    action     trill first_purchase
0       0.0  0.568182  0.265152  0.106061  0.196970            NaN
1   10001.0  0.538462  0.307692  0.230769  0.307692           free
2   10002.0  0.700000  0.200000  0.100000  0.300000           free
3   10003.0  0.666667  0.250000  0.000000  0.000000           free
4   10004.0  1.000000  0.333333  0.000000  0.333333           free
5   10005.0  0.545455  0.424242  0.060606  0.151515           free
6   10007.0  1.000000  0.500000  0.500000  0.500000           free
7   10008.0  1.000000  0.250000  0.000000  0.000000           free
8   10009.0  1.000000  0.000000  1.000000  0.000000           free
9   10010.0  0.625000  0.250000  0.125000  0.125000          payed
10  10012.0  0.714286  0.428571  0.142857  0.285714           free
11  10013.0  0.500000  0.500000  0.000000  0.000000           free
12  10015.0  0.750000  0.125000  0.125000  0.625000           free
13  10016.0  1.000000  0.666667  0.000000  0.333333           free
14  10017.0  0.800000  0.200000  0.400000  0.400000           free
15  10018.0  0.733333  0.366667  0.066667  0.166667          payed
16  10019.0  1.000000  0.000000  0.000000  0.000000           free
17  10020.0  0.600000  0.000000  0.600000  0.200000           free
18  10022.0  0.735294  0.323529  0.058824  0.161765           free
19  10023.0  0.500000  0.250000  0.000000  0.500000           free
20  10024.0  1.000000  0.000000  0.000000  0.000000           free
21  10025.0  0.500000  0.166667  0.166667  0.000000          payed
22  10026.0  0.440000  0.320000  0.120000  0.280000           free
23  10027.0  0.000000  1.000000  0.000000  0.000000           free
24  10028.0  0.592593  0.481481  0.111111  0.111111           free
25  10029.0  0.272727  0.545455  0.181818  0.181818           free
26  10031.0  0.500000  0.500000  0.000000  0.000000           free
27  10032.0  0.481481  0.296296  0.074074  0.259259           free
28  10033.0  0.705882  0.294118  0.117647  0.088235           free
29  10034.0  1.000000  0.500000  0.000000  0.000000           free
30  10035.0  0.714286  0.357143  0.142857  0.142857           free
31  10036.0  0.583333  0.300000  0.033333  0.100000          payed
32  10038.0  0.500000  0.500000  0.000000  0.000000           free
33  10039.0  0.500000  0.142857  0.214286  0.071429           free
34  10040.0  0.653846  0.307692  0.038462  0.192308           free
35  10042.0  0.529412  0.470588  0.058824  0.000000           free

In [35]:
d = 101
print(d%2)

1

In [36]:
a1 = 5 #assign var
a2 = 6
a3 = 5

print(a1==7) #comparison of var with value 7
print(a1!=a2)
print((a1==a2)&(a1==a3)) #and
print((a1==a2)|(a1==a3)) #or

False
True
False
True

In [37]:
print('Количество строк в датафрейме',len(df))

Количество строк в датафрейме 3997

In [39]:
df['user_id'] = pd.to_datetime(df['user_id'])

In [43]:
df = df.set_index('user_id')

In [83]:
#df['user_id']

In [28]:
sa = pd.Series([1,2,3], index = list('abc'))

In [29]:
sa = pd.Series([1,2,3], index = ['a','b','c'])

In [30]:
sa

a    1
b    2
c    3
dtype: int64

In [26]:
d = 'LALALA'

In [27]:
print(list(d))

['L', 'A', 'L', 'A', 'L', 'A']

In [44]:
dfa = df.copy()

In [45]:
dfa.index

Float64Index([    0.0, 10001.0, 10002.0, 10003.0, 10004.0, 10005.0, 10007.0,
              10008.0, 10009.0, 10010.0,
              ...
                  nan,     nan,     nan,     nan,     nan,     nan,     nan,
                  nan,     nan,     nan],
             dtype='float64', name='user_id', length=3997)

In [47]:
dff = pd.DataFrame({'one':[1.,2.,3.]})
dff['two'] = [4,5,6]

In [48]:
dff

   one  two
0  1.0    4
1  2.0    5
2  3.0    6

In [74]:
def func_trial1(a):
    print("our number = ", a)
    print("our square number = ", a**2)
    
    b = a**3
    c = 2*a**3
    d = 3*a**3
    
    return b,c,d

In [75]:
a_cube, two_a_cube, three_a_cube = func_trial1(3)

our number =  3
our square number =  9

In [76]:
a_cube

27

In [78]:
two_a_cube

54

In [79]:
three_a_cube

81

In [80]:
func_trial1(3)

our number =  3
our square number =  9

(27, 54, 81)

In [81]:
a_test = func_trial1(3)

our number =  3
our square number =  9

In [82]:
a_test

(27, 54, 81)