In [18]:
import pandas as pd
df = pd.read_csv('/Users/dus/Desktop/Python/marketing_pilot_proc.csv')

In [19]:
df.index

RangeIndex(start=0, stop=15171, step=1)

In [20]:
id(df)

140251539271488

In [21]:
df

,user_id,id_group,ad_date,purchase_date,promo_type,time_left
0,5061,1,2021-02-06,NaN,Gold Bundle,2020-08-23
1,4616,1,2021-03-07,2021-03-20,Platinum Bundle,2020-12-26
2,842,1,2021-04-13,2021-05-28,Platinum Bundle,2021-01-02
3,3571,1,2021-04-01,2021-05-10,Bundle Limited,2020-10-21
4,4642,1,2021-08-18,NaN,Platinum Bundle,2021-06-08
...,...,...,...,...,...,...
15166,11750,0,2021-03-15,2021-04-12,Platinum Bundle,2020-10-11
15167,106,1,2021-01-11,2021-02-25,Gold Bundle,2020-09-30
15168,3706,1,2021-05-11,2021-07-08,Gold Bundle,2021-03-16
15169,11753,1,2021-02-28,NaN,Std Bundle,2020-12-23
15170,11754,0,2021-06-08,2021-07-28,Gold Bundle,2021-02-23

In [22]:
df.set_index('user_id')

         id_group     ad_date purchase_date       promo_type   time_left
user_id
5061            1  2021-02-06           NaN      Gold Bundle  2020-08-23
4616            1  2021-03-07    2021-03-20  Platinum Bundle  2020-12-26
842             1  2021-04-13    2021-05-28  Platinum Bundle  2021-01-02
3571            1  2021-04-01    2021-05-10   Bundle Limited  2020-10-21
4642            1  2021-08-18           NaN  Platinum Bundle  2021-06-08
...           ...         ...           ...              ...         ...
11750           0  2021-03-15    2021-04-12  Platinum Bundle  2020-10-11
106             1  2021-01-11    2021-02-25      Gold Bundle  2020-09-30
3706            1  2021-05-11    2021-07-08      Gold Bundle  2021-03-16
11753           1  2021-02-28           NaN       Std Bundle  2020-12-23
11754           0  2021-06-08    2021-07-28      Gold Bundle  2021-02-23

[15171 rows x 5 columns]

In [14]:
type(df['ad_date'])
#df['ad_date']

pandas.core.series.Series

In [23]:
a = 3

In [25]:
id(a)

4302322080

In [26]:
a+3

6

In [ ]:
lst = [1,2,3,4,5]
print(lst)

In [3]:
lst[2:-1]

[3, 4]

In [12]:
lst.append('string')

In [13]:
lst

[1, 2, 3, 4, 5, 'string', 'string']

In [29]:
a = [1,1,2,3,5,8,13,21,34,55,89,4]

list - перезаписываемы, кортеж - неизменяемый

In [30]:
for i in a:
    if i < 5:
        print(i)

1
1
2
3
4

In [33]:
lst = [1,2,3,4,5]
print(lst[0])
print(lst[-1])
print(f'First: {lst[0]}, Last: {lst[-1]}')

1
5
First: 1, Last: 5

In [34]:
#кортеж
x = (1,2,3)

In [35]:
x

(1, 2, 3)

In [36]:
type(x)

tuple

In [37]:
x = 1,2,3

In [38]:
x

(1, 2, 3)

In [39]:
def my_func(a):
    b = a**2
    c = a**3
    return b,c

In [40]:
my_func(3)

(9, 27)

In [41]:
var_1, var_2 = my_func(3)

In [42]:
var_1

9

In [43]:
var_2

27

In [44]:
var = my_func(3)

In [45]:
var

(9, 27)

[] - списки
() - кортежи
() - функции

In [47]:
c = [1,2,3]
print(type(c))
print(id(c))

d = 1,2,3
print(type(d))
print(id(d))

<class 'list'>
140251539779520
<class 'tuple'>
140251539273024

In [48]:
c.append(4)
print(type(c))
print(id(c))

<class 'list'>
140251539779520

In [51]:
d = d + (4,)
print(d)
print(type(d))
print(id(d))

(1, 2, 3, 4, 4)
<class 'tuple'>
140251540402640

In [52]:
x = ()
print(x)

tuplex = tuple()
print(tuplex)

()
()

In [55]:
#tuplex = 5,10,15,20
#print(tuplex)

tuplex = (5,)
print(tuplex)
print(type(tuplex))

(5,)
<class 'tuple'>

In [56]:
listx = [5]
print(listx)
print(type(listx))

[5]
<class 'list'>

In [58]:
listx = (1,2,3)
n1,n2,n3 = listx

print(n2)

2

In [59]:
tuplex = 4,8,3
print(tuplex)

n1,n2,n3 = tuplex #unpacking of tuplex
print(n2)

print(n1+n2+n3)

(4, 8, 3)
8
15

In [ ]:
tuplex = (4,6,2,8,3,1)

tuplex = tuplex +(9,)