Task 1. С помощью цикла найти сумму чисел от X1 до X2, где X1 и X2 - переменные, которые проставляются выше

In [1]:
x1 = 5
x2 = 10
ramge_sum = 0

In [ ]:
ramge_sum = 0
for i in range(x1,x2+1):
    ramge_sum += i
print(ramge_sum)

In [ ]:
for i in range(x1,x2+1):
    print(i)

In [ ]:
ramge_sum = 0
x1 = int(input('enter the number x1:'))
x2 = int(input('enter the number x2:'))

In [ ]:
ramge_sum = 0
for i in range(x1,x2+1):
    ramge_sum += i
print(ramge_sum)

Task 2. Пользователь вводит число. Если это число чётное - вывести "ЧИСЛО ЧЁТНОЕ", если нет - вывести "ЧИСЛО НЕЧЁТНОЕ"

In [ ]:
a = int(input("Enter the number: "))
if a%2 == 0:
    print("it's even")
else:
    print("it's odd")

Task 3. Пользователь задаёт три числа. Если среди них есть равные друг другу, то вывести YES, если нет вывести ERROR

In [ ]:
x1 = int(input("Enter the first number: "))
x2 = int(input("Enter the second number: "))
x3 = int(input("Enter the third number: "))

i = (x1,x2,x3)
if i[0] == i[1] or i[0] == i[2] or i[2] == i[1]:
    print("yes")
else:
    print("error")

Task 4. Пользователь задаёт три числа. Если все эти числа равны друг другу, то вывести YES, если нет вывести ERROR

In [ ]:
x1 = int(input("Enter the first number: "))
x2 = int(input("Enter the second number: "))
x3 = int(input("Enter the third number: "))

i = (x1,x2,x3)
if i[0] == i[1] and i[0] == i[2] and i[2] == i[1]:
    print("yes")
else:
    print("error")

Task 5. Импортируйте csv файл с таблицей skytaxi.order_list. Осмотрите датафрейм с помощью head & tail. Замените нуллы в колонках assign_time, arrive_to_client_time и order_finish_time на 01.01.3000

In [3]:
import pandas as pd

In [ ]:
df = pd.read_csv('/Users/dus/Desktop/Python/HW6.3/HW6.3.csv')

In [ ]:
print(df)

In [ ]:
df.head(10)

In [ ]:
df.tail(10)

In [ ]:
dff = df.fillna('01.01.3000')

In [ ]:
print(dff)

Task 6. Напишите функцию, которая будет делать анализ числа (аргумент - одно число):
- Если число = 0, то функция напишет "введите ненулевое число"
- Функция скажет, является ли число чётным
- Функция скажет, больше ли это число чем 10
- Функция напечатает квадрат и куб этого числа
- Функция скажет, является ли число отрицательным

In [4]:
def number_analysis():
    a = int(input("enter the number:"))
    if a == 0:
        a = int(input("enter non-zero number:"))
        if a%2 == 0:
            print("it's even")
        else:
            print("it's odd")
        if a > 10:
            print("number is bigger than 10")
        else:
            print("number is less than 10")
        if a > 0:
            print("it's positive")
        else:
            print("it's negative")
        print("square number:", a**2)
        print("cube number:", a**3)
   
    else:
        if a%2 == 0:
            print("it's even")
        else:
            print("it's odd")
        if a > 10:
            print("number is bigger than 10")
        else:
            print("number is less than 10")
        if a > 0:
            print("it's positive")
        else:
            print("it's negative")
        print("square number:", a**2)
        print("cube number:", a**3)

In [5]:
number_analysis()

enter the number:5
it's odd
number is less than 10
it's positive
square number: 25
cube number: 125